1.创建一个集合 fruits，包含 "apple", "banana", "orange"，并打印这个集合。

In [1]:
fruits =  {"apple", "banana", "orange"}
fruits

{'apple', 'banana', 'orange'}

2.在集合 numbers = {1, 2, 3} 中添加元素 4，并输出结果。

In [2]:
number = {1, 2, 3}
number.add(4)
number

{1, 2, 3, 4}

3.删除集合 nums = {1, 2, 3, 4} 中的元素 3，并打印删除后的集合。

In [3]:
nums = {1, 2, 3, 4}

nums.remove(3)
nums

{1, 2, 4}

4.编写程序判断 "apple" 是否在 fruits = {"apple", "banana", "orange"} 中。

In [4]:
fruits = {"apple", "banana", "orange"}
'apple' in fruits

True

5.创建集合 data = {1, 2, 3}，使用 clear() 方法清空集合并打印。

In [6]:
data = {1, 2, 3}
data.clear()
data

set()

6.给定集合 A = {1, 2, 3}，B = {3, 4, 5}，求并集并打印结果。

In [7]:
A = {1, 2, 3}
B = {3, 4, 5}
A | B

{1, 2, 3, 4, 5}

7.给定集合 A = {"a", "b", "c"}，B = {"b", "c", "d"}，求交集并输出。

In [8]:
A = {'a', 'b', 'c'}
B = {'b', 'c', 'd'}
A & B

{'b', 'c'}

8.给定集合 A = {1, 2, 3}，B = {2, 3, 4}，求 A - B，并输出结果。

In [9]:
A = {1, 2, 3}
B = {2, 3, 4}
A - B

{1}

9.给定集合 A = {1, 2, 3}，B = {3, 4, 5}，输出两个集合的对称差集。

In [10]:
A = {1, 2, 3}
B = {3, 4, 5}
A ^ B

{1, 2, 4, 5}

10.给定集合 A = {1, 2}，B = {1, 2, 3}，判断 A 是否是 B 的子集。

In [11]:
A = {1, 2}
B = {1, 2, 3}
A <= B

True

11.给定列表 nums = [1, 2, 2, 3, 4, 4, 5]，使用集合去重，并输出去重后的列表。

In [12]:
nums = [1, 2, 2, 3, 4, 4, 5]
nums = list(set(nums))
nums

[1, 2, 3, 4, 5]

12.输入一个字符串，输出其中不重复字符的数量。

In [13]:
str_1 = 'hello world'
len(set(str_1))

8

13.找出两个班级的共同学生

班级 A 的学生：{"Tom", "Alice", "Bob"}

班级 B 的学生：{"Bob", "David", "Alice"}

找出两个班都有的学生。

In [14]:
class_a = {"Tom", "Alice", "Bob"}
class_b = {"Bob", "David", "Alice"}

class_a & class_b

{'Alice', 'Bob'}

14.给定两个列表 l1 = [1, 2, 3]，l2 = [3, 4, 5]，判断它们是否有交集。

In [15]:
l1 = [1, 2, 3]
l2 = [3, 4, 5]

list(set(l1) & set(l2))

[3]

15.用字典实现一个简单的联系人信息系统，支持存储姓名和电话号，并可打印出来。

In [16]:
infor = {
    '小明', '13xxxxxx',
    '小红', '199xxxxxx'
}
infor

{'13xxxxxx', '199xxxxxx', '小明', '小红'}

16.合并以下两个字典

```python

stu_1 = {

    'id':'20240101',

    'name':'xiaoming',

    'sex':'nan',

    'course' : 'python network mysql',

}

dict_2 = {

    'a':1, 

    'b':2, 

    'c':3

}

```

In [18]:
stu_1 = {
    'id':'20240101',
    'name':'xiaoming',
    'sex':'nan',
    'course' : 'python network mysql',
}
dict_2 = {
    'a':1, 
    'b':2, 
    'c':3
}
stu_1.update(dict_2)

stu_1

{'id': '20240101',
 'name': 'xiaoming',
 'sex': 'nan',
 'course': 'python network mysql',
 'a': 1,
 'b': 2,
 'c': 3}

17.编写程序，遍历以下字典并打印每一个键与值



```python

stu_1 = {

    'id':'20240101',

    'name':'xiaoming',

    'sex':'nan',

    'course' : 'python network mysql',

}

```

In [19]:
stu_1 = {
    'id':'20240101',
    'name':'xiaoming',
    'sex':'nan',
    'course' : 'python network mysql',
}

for key, values in stu_1.items():
    print(key, values)

id 20240101
name xiaoming
sex nan
course python network mysql

18.给定如下字典`student = {"name": "Tom", "score": 88}`，修改其中 "score" 的值为 95

In [20]:
student = {"name": "Tom", "score": 88}
student['score'] = 95

student

{'name': 'Tom', 'score': 95}

19.创建一个空字典，然后添加以下键值对：
   - "name": "Alice"
   - "gender": "female"
   - "score": 90

In [21]:
dict_1 = {}

dict_1['name'] = 'Alice'
dict_1['gender'] = 'famale'
dict_1['score'] = 90
dict_1

{'name': 'Alice', 'gender': 'famale', 'score': 90}

20.使用嵌套字典表示多个学生的选课信息。

每个学生包含：

`name`（姓名）
`courses`（课程信息，是一个嵌套字典）

    `python程序设计`
    `mysql库数据`
    `network`
    
    每门课程包含：
        credit（学分）
        teacher（任课老师）
        required（是否必修）

要求：

1.添加 2 位学生，每人选修至少 2 门课程

2.打印每个学生的所有课程信息

3.统计并输出每位学生的总学分

In [22]:
students = {
    "Alice": {
        "courses": {
            "python程序设计": {
                "credit": 3,
                "teacher": "张老师",
                "required": True
            },
            "mysql库数据": {
                "credit": 2,
                "teacher": "李老师",
                "required": False
            }
        }
    },
    "Bob": {
        "courses": {
            "network": {
                "credit": 4,
                "teacher": "王老师",
                "required": True
            },
            "python程序设计": {
                "credit": 3,
                "teacher": "张老师",
                "required": True
            }
        }
    }
}
# 打印每个学生的所有课程信息
for student_name, student_info in students.items():
    print(f"学生: {student_name}")
    for course_name, course_info in student_info["courses"].items():
        print(f"  课程: {course_name}")
        print(f"    学分: {course_info['credit']}")
        print(f"    任课老师: {course_info['teacher']}")
        print(f"    是否必修: {'是' if course_info['required'] else '否'}")
    print()
# 统计并输出每位学生的总学分
for student_name, student_info in students.items():
    total_credit = sum(course["credit"] for course in student_info["courses"].values())
    print(f"学生: {student_name} 的总学分: {total_credit}")

学生: Alice
  课程: python程序设计
    学分: 3
    任课老师: 张老师
    是否必修: 是
  课程: mysql库数据
    学分: 2
    任课老师: 李老师
    是否必修: 否

学生: Bob
  课程: network
    学分: 4
    任课老师: 王老师
    是否必修: 是
  课程: python程序设计
    学分: 3
    任课老师: 张老师
    是否必修: 是

学生: Alice 的总学分: 5
学生: Bob 的总学分: 7