1.创建元组 t = (10, 20, 30, 40, 50)，请分别打印第一个元素和最后一个元素。

In [1]:
t = (10, 20, 30, 40, 50)
t[0], t[-1]

(10, 50)

2.尝试修改元组 t = (1, 2, 3) 中的第二个元素为 4，观察并记录报错信息。

In [2]:
t = (1, 2, 3)
t[1] = 4

TypeError: 'tuple' object does not support item assignment

3.创建两个元组 t1 = (1, 2, 3) 和 t2 = (4, 5, 6)，将它们连接起来形成一个新元组，并打印结果。

In [3]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)

t = t1 + t2
t

(1, 2, 3, 4, 5, 6)

4.将元组 t = (1, 2, 3, 4) 转换为列表，对列表进行修改（例如将第一个元素改为 100），然后再转换回元组，并打印最终结果。

In [4]:
t = (1, 2, 3, 4)
lst = list(t)
lst[0] = 100
t = tuple(lst)
t

(100, 2, 3, 4)

5.给定元组 t = (1, 2, 3, 2, 2, 4, 5)，编写程序统计数字 2 在元组中出现的次数，并打印结果。

In [5]:
t = (1, 2, 3, 2, 2, 4, 5)
t.count(2)

3

6.创建一个函数，实现将前n项斐波那契数列存储到列表中,并返回

In [7]:
def faio(n):
    a = 0
    b = 1
    result = []
    if n == 0:
        # print(a)
        result.append(a)
    if n == 1:
        # print(b)
        result.append(b)
    for _ in range(n):
        a, b = b, a + b
        # print(a)
        result.append(a)
    return result

faio(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

7.用户输入一句英文句子，请将句子中的单词 "python" 替换为 "C" 并输出结果。

In [8]:
word = 'hello python'
str_word = word.replace('python', 'C')
str_word

'hello C'

8.给定学生信息字符串列表：["20230101-张三", "20230102-李四", "20230103-王五"]，请将其拆分为学号和姓名两个列表，分别输出。

In [9]:
lst = ["20230101-张三", "20230102-李四", "20230103-王五"]
ids = []
names = []
for str_infor in lst:
    id_, name = str_infor.split('-')
    ids.append(id_)
    names.append(name)

ids, names

(['20230101', '20230102', '20230103'], ['张三', '李四', '王五'])

9.将字符串 "apple,banana,grape,orange" 按逗号分隔成一个列表，并输出每一个水果名称。

In [10]:
str_1 = "apple,banana,grape,orange"
list_1 = str_1.split(',')
for i in list_1:
    print(i)

apple
banana
grape
orange

10.给定字符串 " Hello, Python! ", 去除前后多余的空格后输出。

In [11]:
str_1 = " Hello, Python! "
str_1.strip()

'Hello, Python!'

11.用户输入一句英文句子，程序输出全大写和全小写版本

In [12]:
word = 'Hello World'
lower_word = word.lower()
upper_word = word.upper()
lower_word, upper_word

('hello world', 'HELLO WORLD')

12.将列表 ['Hello', 'Python', 'World'] 中的单词用空格连接成一个完整的句子并输出。

In [13]:
lst = ['Hello', 'Python', 'World']

new_str = ' '.join(lst)
new_str

'Hello Python World'