# 第九周作业

1.给定一个列表 `nums = [10, 20, 30, 40, 50, 60, 70, 80, 90]`，提取其中的下标为奇数的元素组成新的列表。

In [2]:
nums = [10, 20, 30, 40, 50, 60, 70, 80, 90]
nums[1::2]

[20, 40, 60, 80]

2.给定一个字符串 `s = "abcdefghij"`，使用切片获取字符串中的所有奇数（元素位于奇数位）位字符。

In [4]:
s = "abcdefghij"
s[::2]

'acegi'

3.给定一个字符串 `s = "Python Programming"`，使用切片功能将其反转。

In [6]:
s = "Python Programming"
s[::-1]

'gnimmargorP nohtyP'

4.给定两个列表 `list1 = [1, 2, 3]` 和 `list2 = [4, 5, 6]`，合并两个列表为一个新列表，并返回结果。

In [8]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list_3 = list1 + list2
list_3

[1, 2, 3, 4, 5, 6]

5.将列表 `list1 = [1, 2, 3, 4, 5]` 中的第二个和第四个元素分别替换为 20 和 40。

In [10]:
list1 = [1, 2, 3, 4, 5]
list1[1] = 20
list1[3] = 40
list1

[1, 20, 3, 40, 5]

6.编写一个函数，接受一个列表和切片步长，返回该列表中所有指定步长位置的元素的最大值。

In [11]:
def fun_test(list_1, step_size):
    return max(list_1[::step_size])

# 测试
list1 = [1, 2, 3, 4, 5]
fun_test(list1, 2)

5

7.给定一个句子 `sentence = "This is a sample sentence"`，用空格分割字符串并返回分割后的列表。

In [12]:
sentence = "This is a sample sentence"
sentence.split()

['This', 'is', 'a', 'sample', 'sentence']

8.给定两个元组 `tuple1 = (1, 2, 3)` 和 `tuple2 = (4, 5, 6)`，合并它们为一个新的元组。

In [14]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
tuple3 = tuple1 + tuple2
tuple3

(1, 2, 3, 4, 5, 6)

9.编写一个函数，计算一个包含整数的元组中的偶数个数。

In [15]:
def tuple_even_numer(tuple1):
    sum = 0
    for x in tuple1:
        if (x % 2 == 0):
            sum = sum + 1
    return sum

tuple1 = (2,3,4,5,6,7)
tuple_even_numer(tuple1)

3

10.给定一个字符串 `text = "Hello, World!"`，使用切片将“Hello”和“World”交换位置，使得结果为 `"World, Hello!"`。

In [25]:
text = "Hello, World!"
hello = text[0:5]
world = text[-6:-1:1]
text =  world+ ', ' + hello + "!"
text

'World, Hello!'

11.给定一个整数列表 `nums = [1, -2, 3, 4, -1, 2, 1, -5, 4]`，找到列表中所有可能的连续切片，返回和最大的切片。

In [36]:
nums = [1, -2, 3, 4, -1, 2, 1, -5, 4]
test_list = []
for i in range(len(nums)):
    for j in range(i+1,len(nums)):
        # print(i,j)  # 测试
        test_list.append(sum(nums[i:j:]))

max(test_list)

9

12.给定列表 `fruits = ["apple", "banana", "cherry", "date", "elderberry"]`，编写代码获取列表中每个元素的索引位置。

In [46]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]
m = 0  # 列表的下标
for i in fruits:
    n = 0  # 字符串的下标
    print(f'{i}中元素的索引：')
    for j in i:
        print(f'{j}元素的下标为：{m},{n}')
        n = n + 1
    m = m + 1

apple中元素的索引：
a元素的下标为：0,0
p元素的下标为：0,1
p元素的下标为：0,2
l元素的下标为：0,3
e元素的下标为：0,4
banana中元素的索引：
b元素的下标为：1,0
a元素的下标为：1,1
n元素的下标为：1,2
a元素的下标为：1,3
n元素的下标为：1,4
a元素的下标为：1,5
cherry中元素的索引：
c元素的下标为：2,0
h元素的下标为：2,1
e元素的下标为：2,2
r元素的下标为：2,3
r元素的下标为：2,4
y元素的下标为：2,5
date中元素的索引：
d元素的下标为：3,0
a元素的下标为：3,1
t元素的下标为：3,2
e元素的下标为：3,3
elderberry中元素的索引：
e元素的下标为：4,0
l元素的下标为：4,1
d元素的下标为：4,2
e元素的下标为：4,3
r元素的下标为：4,4
b元素的下标为：4,5
e元素的下标为：4,6
r元素的下标为：4,7
r元素的下标为：4,8
y元素的下标为：4,9

13.给定一个元组 `data = ("John", 25, "Engineer")`，分别将其拆解为 `name`, `age`, `profession` 三个变量。

In [48]:
data = ("John", 25, "Engineer")
name = data[0]
age = data[1]
profession = data[2]
f'name = {name} age = {age} profession = {profession}'

'name = John age = 25 profession = Engineer'

14.给定一个列表 `items = [1, 2, 3, 2, 4, 1, 5]`，移除列表中的重复元素。

In [53]:
# 超纲写法(使用了set集合的方式)
items = [1, 2, 3, 2, 4, 1, 5]
items_set = set(items)
items = list(items_set)
items

[1, 2, 3, 4, 5]

In [56]:
items = [1, 2, 3, 2, 4, 1, 5]

for x in items:
    if items.count(x) != 1:
        items.remove(x)
items

[3, 2, 4, 1, 5]

15.给定一个名字和年龄，例如 `name = "Alice"` 和 `age = 30`，生成格式化的字符串 `"Alice is 30 years old"`。

In [57]:
name = "Alice"
age = 30
print(f'{name} is {age} years old')

Alice is 30 years old

16.给定列表 `numbers = [10, 20, 30, 40, 50, 60]`，编写代码获取从第三个到第五个元素的子列表。

In [58]:
numbers = [10, 20, 30, 40, 50, 60]
numbers[2:5]

[30, 40, 50]

17.给定元组 `numbers = (1, 2, 3, 4, 5)`，使用切片功能将其反转，并返回新的元组。

In [59]:
numbers = (1, 2, 3, 4, 5)
numbers_new = numbers[::-1]
numbers_new

(5, 4, 3, 2, 1)

18.给定字符串 `numbers = "1, 2, 3, 4, 5"`，编写代码将其转换为整数类型的元组。

In [60]:
numbers = "1, 2, 3, 4, 5"
numbers_list_str = numbers.split(', ')
numbers_list_int = []
for i in numbers_list_str:
    numbers_list_int.append(int(i))

numbers_list_int

[1, 2, 3, 4, 5]

19.给定列表 `nums = [1, 2, 3, 4, 5]`，将其中所有偶数替换为它们的负数（如 2 替换为 -2）。

In [62]:
nums = [1, 2, 3, 4, 5]
i = 0 # 表示下标
for x in nums:
    if (x % 2 == 0):
        nums[i] = -x
    i = i + 1
nums

[1, -2, 3, -4, 5]

20.给定一个字符串 `s = " Python Programming "`，编写代码删除字符串开头和结尾的所有空格。

In [63]:
s = " Python Programming "
s.strip()

'Python Programming'

## 进阶难度
21.给定一个二维列表 `matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]`，使用切片获取矩阵的子矩阵 `[4, 5], [8, 9]`。

In [75]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sub_matrix = []
for x in matrix[1::]:
    sub_matrix.append(x[1:])

sub_matrix

[[5, 6], [8, 9]]

22.编写一个函数 `rotate_list(lst, k)`，将列表 `lst` 向右旋转 `k` 位。例如，输入 `[1, 2, 3, 4, 5]` 和 `k = 2` 时，返回 `[4, 5, 1, 2, 3]`。\
列表向右旋转k位的意思：意味着每个元素右移k个索引，并将数组的最后k个元素移动到前k个元素中。

In [79]:
def rotate_list(lst, k):
    k = k % len(lst)
    return list_test[-k:] + list_test[:-k]
list_test = [1, 2, 3, 4, 5]
k = 2
print(rotate_list(list_test, k))

[4, 5, 1, 2, 3]

23.给定一个包含嵌套元组的序列，例如 `data = (("Alice", 30), ("Bob", 25), ("Charlie", 35))`，将其解包为 `names` 和 `ages` 两个独立列表，分别包含姓名和年龄。

In [81]:
data = (("Alice", 30), ("Bob", 25), ("Charlie", 35))
names = []
ages = []
for x in data:
    names.append(x[0])
    ages.append(x[1])

print(names,ages)

['Alice', 'Bob', 'Charlie'] [30, 25, 35]

24.编写一个函数，接受一个字符串并返回其最长的回文子串。例如，输入 `"babad"`，应返回 `"bab"` 或 `"aba"`。

In [ ]:
def longest_palindrome(s):

25.给定一个二维列表（如 `4x4` 矩阵），编写代码以螺旋顺序提取元素。例如，对于矩阵 `[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]`，输出 `[1, 2, 3, 4, 8, 12, 16, 15, 14, 13, 9, 5, 6, 7, 11, 10]`。

In [97]:
def list_2d_print_1d(list1):
    list_test_1d = []
    # x用作表示下标
    for x in range(len(list1)):
        # 当下标为偶数时，左往右添加
        if x % 2 == 0:
            # y 表示为内部下标
            for y in range(len(list1[0])):
                list_test_1d.append(list1[x][y])
        # 当下标为奇数时，右往左添加
        else:
            for y in range(-1,-len(list1[0])-1,-1):
                list_test_1d.append(list1[x][y])
    return list_test_1d


list_test_2d = [[1, 2, 3, 4], 
                [5, 6, 7, 8], 
                [9, 10, 11, 12], 
                [13, 14, 15, 16]]

list_2d_print_1d(list_test_2d)

[1, 2, 3, 4, 8, 7, 6, 5, 9, 10, 11, 12, 16, 15, 14, 13]

26.编写一个函数，接受字符串并返回其最长不含重复字符的子串。例如，输入 `"abcabcbb"`，应返回 `"abc"`。

In [1]:
def longest_unique_substring(s):
    result_s_list = []
    i = 0  # 字符串的下标
    while i < len(s):
        result_s = ''
        for x in range(i,len(s)):
            if result_s.count(s[x]) == 0:
                result_s = result_s + s[x]
            else:
                break
        result_s_list.append(result_s)
        i = i + 1
    
    result_str = ''
    for x in result_s_list:
        if len(result_str) < len(x):
            result_str = x
            
    return result_str

s = 'abcaebcdbb'
print(longest_unique_substring(s))

aebcd

27.给定一个包含嵌套列表的列表（如 `nested_list = [1, [2, [3, 4], 5], 6]`），编写代码将其完全展开为一个一维列表 `[1, 2, 3, 4, 5, 6]`。

In [5]:
nested_list = [1, [2, [3, 4], 5], 6]

def nested_1d(list1):
    result = []
    for x in list1:
        if isinstance(x, list):
            # 如果是一个列表,就需要继续拆
            result.extend(nested_1d(x))
        else:
            # 如果不是一个列表,就直接添加到result里面
            result.append(x)
    return result

nested_1d(nested_list)

[1, 2, 3, 4, 5, 6]

28.编写一个函数，将一个列表分割成长度为 `n` 的子列表，如果最后一个子列表元素不够，则使用 `None` 补足。例如，对于输入列表 `[1, 2, 3, 4, 5]` 和 `n=3`，输出 `[[1, 2, 3], [4, 5, None]]`。

In [14]:
def list_split_n(lst, n):
    if n > len(lst):
        poor = n - len(lst)
        for _ in range(poor):
            lst.append(None)
    else:
        # len(lst) >= n
        result = []
        i = 0  # 表示lst的下标
        num = len(lst) // n  # 可以分割成几个完整的子列表
        poor_1 = n - len(lst) % n  # 最后一个子列表差几个
        # 将能够完整切割的进行切割
        for _ in range(num): 
            sub_list = []
            for _ in range(n):
                sub_list.append(lst[i])
                i = i + 1
            result.append(sub_list)
        if poor_1 != n:
            sub_last_list = lst[i::]
            for _ in range(poor_1):
                sub_last_list.append(None)
            result.append(sub_last_list)
        return result

list_split_n([1,2,3,4,5,6,7,8,9],5)

[[1, 2, 3, 4, 5], [6, 7, 8, 9, None]]

In [25]:
def split_list(lst, n):
    return [lst[i:i + n] + [None] * (n - len(lst[i:i + n])) for i in range(0, len(lst), n)]

print(split_list([1, 2, 3, 4, 5], 6))  # 输出: [[1, 2, 3], [4, 5, None]]

[[1, 2, 3, 4, 5, None]]

In [26]:
list_test = [[1,2,3],[4,5,6],[7,8,9]]
[sum[1:] for sum in list_test[1:]]

[[5, 6], [8, 9]]